body {
    background-color: #D1C4E9;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bolder;
    margin-left: 2rem;
}

#top {
    background-color: #757575;
    color: #212121;
    font-weight: bold;
}

#head {
    color: #212121;
}

#button {
    background-color: black;
    color: white;
    font-size: 18px;
    padding: 5px;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 2px solid #999;
    transition: 0.2s all linear;
    margin-right: 5px;
    position: relative;
    top: 4px;
}

input:checked {
    border: 6px solid black;
    outline: unset !important/* I added this one for Edge (chromium) support */
}

#submitBtn {
    background-color: #212121;
    color: white;
    font-size: 18px;
    padding: 5px;
}